<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER_4_Numpy_%EA%B8%B0%EB%B3%B8_%EB%B0%B0%EC%97%B4%EA%B3%BC_%EB%B2%A1%ED%84%B0_%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy란,,, Numpy 특징
- 빠른 배열 계산과 유연한 브로드캐스팅 기능을 제공
- 반복문을 작성할 필요 없이 전체 데이터 배열을 빠르게 계산할 수 있는 표준 수학 함수
- 저수준 언어로 작성된 외부 라이브러리에 데이터를 전달하거나 반대로 외부 라이브러리에서 Numpy 배열 형태로 전달하기 용이
- 일반적인 산술 데이터 처리를 위한 기반 라이브러리를 제공
- 대용량 데이터 배열을 효율적으로 다룰 수 있도록 설계

## 4.1 Numpy ndarray : 다차원 배열 객체
- ndarray : N차원의 배열 객체
- 파이썬에서 사용할 수 있는 대규모 데이터 집합을 담을 수 있는 빠르고 유연한 자료구조
- ndarray의 모든 원소는 같은 자료형이어야만 함

In [ ]:
import numpy as np

data = np.random.randn(2,3)
data

In [ ]:
data * 10

In [ ]:
data + data

In [ ]:
data.shape

In [ ]:
data.dtype

### 4.1.1 ndarray 생성하기
- array 함수 : 배열을 생성하는 가장 쉬운 방법
- 참고 : astype을 호출하면 새로운 dtype이 이전 dtype과 동일해도 항상 새로운 배열을 생성(데이터를 복사)한다.

In [ ]:
data1 = [6,7.5,8,0,1]
arr1 = np.array(data1)
arr1

In [ ]:
data2 = [[1,2,3,4],[5,6,7,8]]
arr2 = np.array(data2)
arr2

In [ ]:
arr2.ndim, arr2.shape # 차원확인, 구조 확인

In [ ]:
# arrange : range 함수의 배열 버전
np.arange(15)

In [ ]:
arr2.dtype # int64

In [ ]:
arr2 = arr2.astype(np.float64)

In [ ]:
arr2.dtype # float64로 변경

In [ ]:
numeric_strings = np.array(['1.25','-9.6','42'], dtype = np.string_)

In [ ]:
numeric_strings.dtype

In [ ]:
numeric_strings.astype('float64') # 숫자형으로 변환

### Numpy 배열의 산술연산
- 배열은 for 문을 작성하지 않고 데이터를 일괄 처리 가능 = 벡터화

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8]])

In [ ]:
arr*arr

In [ ]:
1/arr

In [ ]:
arr2 = np.array([[7,8,1,0],[2,3,1,8]])

In [ ]:
# 비교연산은 불리언 배열 반환
arr>arr2

### 색인과 슬라이싱 기초
- 리스트와 중요한 차이점은 배열 조각은 원본 배열의 뷰다
- 즉, 데이터는 복사되지 않고 뷰에 대한 변경은 그대로 원본 배열에 반영된다.
- 2차원 배열의 색인은 0번 축을 로우, 1번 축을 컬럼으로 이해

In [ ]:
arr = np.arange(10)

In [ ]:
arr[5]

In [ ]:
arr[5:8]

In [ ]:
arr[5:8] = 12
arr

In [ ]:
arr_slice = arr[5:8]
arr_slice

In [ ]:
arr_slice[1] = 12345
arr

In [ ]:
arr_slice[:] = 64
arr

In [ ]:
arr2d =  np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2d[2]

In [ ]:
arr2d[0][2], arr2d[0,2]

In [ ]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr3d

In [ ]:
arr3d[0]

In [ ]:
arr3d[0], arr3d[0,1], arr3d[0,1,0]

In [ ]:
x = arr3d[1]
x[0]

In [ ]:
# 슬라이스
arr2d[:2]

In [ ]:
arr2d[:2,1:2]

In [ ]:
arr2d[1,:2]

In [ ]:
arr2d[:1,2]

In [ ]:
arr2d[:,1:2]

### 4.1.5 불리언 값으로 선택하기

In [ ]:
names = np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])
data = np.random.randn(7,4)
names

In [ ]:
data

In [ ]:
names == 'Bob'

In [ ]:
data[names=='Bob']

In [ ]:
data[names =='Bob',2]

### 4.1.6 팬시 색인
- 팬시 색인은 정수 배열을 사용한 색인을 설명하기 위해 차용한 단어

In [ ]:
arr = np.empty((8,4))

for i in range(8):
  arr[i] = i

In [ ]:
arr

In [ ]:
# 특정한 순서로 로우를 선택하고 싶을 때
arr[[4,3,0,5]]

In [ ]:
arr[[-3,-5,-7]]

In [ ]:
arr = np.arange(32).reshape((8,4))
arr

In [ ]:
arr[[1,5,7,2]]

In [ ]:
arr[[1,5,7,2],[0,3,1,2]]

In [ ]:
arr[[1,5,7,2]][:,[0,3,1,2]]

### 4.1.7 배열 전치와 축 바꾸기
- 데이터를 복사하지 않고 데이터의 모양이 바뀐 뷰를 반환
- T 속성을 통해 행 열 전환
- transpose 메서드는 튜플로 축 번호를 받아서 치환
- swapaxes는 두개의 번호를 받아 배열을 뒤바꿈

In [ ]:
arr = np.arange(15).reshape(3,5)
arr

In [ ]:
arr.T

In [ ]:
arr=np.random.randn(6,3)
arr

In [ ]:
np.dot(arr.T,arr)

In [ ]:
arr = np.arange(16).reshape((2,2,4))
arr

In [ ]:
arr.transpose(1,0,2)

In [ ]:
arr.transpose(0,1,2)

In [ ]:
arr

In [ ]:
arr.shape # (2,2,4) 0축 2, 1축 2, 2축 4

In [ ]:
arr.swapaxes(0,2).shape # 0 축과 2축을 교환

## 4.2 유니버셜 함수 : 배열의 각 원소를 빠르게 처리하는 함수
- 간단한 함수를 고속으로 수행할 수 있는 벡터화된 래퍼 함수
- np.sqrt, np.exp -> 단항 유니버셜 함수
- add, maximum -> 이항 유니버셜 함수

In [ ]:
arr = np.arange(10)
arr

In [ ]:
np.sqrt(arr)

In [ ]:
np.exp(arr)

In [ ]:
x = np.random.randn(8)
y = np.random.randn(8)
x, y

In [ ]:
np.maximum(x,y) # 원소별로 가장 큰 값 계산

### 4.3.1 배열 연산으로 조건절 표현하기
- numpy,where 함수는 x if 조건 else y 같은 삼항식의 벡터화된 버전
- np.where의 두번째와 세번째 인자는 배열이 아니어도 상관없다.
- np.where를 사용할 때 스칼라값과 배열을 조합할 수 있음

In [ ]:
xarr = np.array([1.1,1.2,1.3,1.4,1.5])
yarr = np.array([2.1,2.2,2.3,2.4,2.5])
cond = np.array([True, False,True,True,False])

In [ ]:
result = [(x if c else y) for x,y,c in zip(xarr,yarr, cond)]
result
# 단점 : 다차원 배열에서 사용할 수 없음

In [ ]:
result = np.where(cond,xarr,yarr) #np.where(조건, 충족, 불충족)
result

In [ ]:
arr = np.random.randn(4,4)
arr

In [ ]:
arr>0

In [ ]:
result = np.where(arr>0,1,0)
result

In [ ]:
result = np.where(arr>0,arr,0)
result

### 4.3.2 수학매서드와 통계매서드

In [ ]:
arr = np.random.randn(5,4)
arr

In [ ]:
arr.mean(), np.mean(arr), arr.sum()

In [ ]:
# axis 인자를 받아서 해당 axis에 대한 통계를 계산
arr.mean(axis=1) # 모든 컬럼에서 평균

In [ ]:
arr.sum(axis=0) # 모든 로우에서 합

### 4.3.4 정렬

In [ ]:
arr = np.random.randn(6)

In [ ]:
arr.sort()

In [ ]:
arr

### 4.3.5 집합 관련 함수

In [ ]:
names = np.array(['aa','bb','aa'])

In [ ]:
np.unique(names)

In [ ]:
np.ones(5)

## 4.6 난수 생성
- 다양한 종류의 확률분포로부터 효과적으로 표본값을 생성하는데 주로 사용

In [ ]:
samples = np.random.normal(size = (4,4))
samples