<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER3_%EB%82%B4%EC%9E%A5%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%2C%ED%95%A8%EC%88%98%2C_%ED%8C%8C%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER3  내장자료구조,함수, 파일

## 3.1 자료구조와 순차 자료

### 3.1.1 튜플
 
- 1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형
- 괄호를 사용해서 묶어줌으로써 중첩된 튜플 정의 가능 
- 모든 순차 자료형이나 이터레이터는 tuple 메서드를 호출해 튜플로 변환 가능
  -  이터레이터?? : 
  내부 요소를 하나씩 리턴할 수 있는 객체는 iterable 하다고 표현
  BUT, iterable한 것 중 __next__ 메소드를 가진 것을 Iterator라 함
  iter함수/__iter__메소드를 활용해 iterable한 변수를 iterator로 바꿀 수 있음
- 튜플에 저장된 객체 자체는 변경이 가능하지만 한 번 생성되면 각 슬롯에 저장된 객체를 변경하는 것은 불가능하다.
- 튜플 내에 저장된 객체는 그 위치에서 바로 변경이 가능
- 연산자를 이용해서 튜플을 이어 붙일 수 있다.
- 튜플에 정수를 곱하면 복사본이 반복되어 늘어남

In [ ]:
tup = 4,5,6
tup

In [ ]:
nested_tup = (4,5,6),(7,8)
nested_tup

In [ ]:
list_1 = [4,0,2]
tup = tuple(list_1)
tup

tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
tup = tuple(['foo',[1,2],True])
tup[2] = False

In [ ]:
tup[1].append(3)
tup

In [ ]:
# 튜플에서 값 분리하기
# 튜플과 같은 표현의 변수에 튜플을 대입하면 파이썬은 등호 오른쪽에 있는 변수에서 값을 분리함
# 중첩된 튜플을 포함해도 가능
tup = (4,5,6)
a,b,c = tup
b

tup = 4,5,(6,7)
a,b,(c,d) = tup
d

In [ ]:
# 이 방법을 통해 변수의 이름을 바꾸는 것을 쉽게 처리할 수 있음

a,b = 1,2

b,a, = a,b

b

In [ ]:
# 튜플의 처음 몇몇 값을 끄집어내야 하는 상황을 위해 특수한 문법인 *rest를 사용
# 함수의 시그니처에서 길이를 알 수 없는 긴 인자를 담기 위한 방법으로도 사용

values = 1,2,3,4,5

a,b, *rest = values

a,b,rest

In [ ]:
# 튜플의 크기와 내용은 변경이 불가능해 인스턴스 메서드가 많지 않음
# count 메서드 정도 사용 -> 튜플 내의 주어진 값이 몇개 있는지 반환

a = (1,2,2,2,3,4,2)
a.count(2)

### 3.1.2 리스트
- 튜플과 대조적으로 리스트는 크기나 내용의 변경이 가능
- 대괄호나 list함수를 사용해서 생성
- list 함수는 이터레이터나 제너레이터 표현에서 실제 값을 모두 담기 위한 용도로도 자주 사용

In [ ]:
a_list = [2,3,7,None]
tup = ('foo','bar','baz')

b_list = list(tup)
b_list

b_list[1] = 'peekaboo'
b_list

In [ ]:
gen = range(10)

gen
list(gen)

In [ ]:
# 원소 추가하고 삭제하기
b_list.append('dwarf')
b_list

In [ ]:
# insert 메서드를 사용해서 리스트의 특정 위치에 값 추가 가능
# insert는 append에 비해 연산비용이 많이 든다
b_list.insert(1,'red')
b_list

In [ ]:
# pop 메서드를 사용해서 특정 위치의 값을 반환하고 해당 값을 리스트에서 삭제
b_list.pop(2)
b_list

In [ ]:
# remove 메서드를 이용해서 원소를 삭제 가능, 삭제는 리스트에서 제일 앞에 위치한 값부터 이루어진다.
b_list.append('foo')
b_list.remove('foo')
b_list

In [ ]:
# in 예약어를 사용해서 리스트에 어떤 값이 있는지 검사 가능
'dwarf' in b_list

In [ ]:
'peekaboo' not in b_list

In [ ]:
# 리스트 이어 붙이기 -> + 연산자 사용
[4,None,'foo'] + [7,8,(2,3)]

In [ ]:
# 리스트 이어 붙이기 -> extend 사용
# 리스트를 이어 붙이면 새로운 리스트를 생성해 값을 복사하는 연산으로 비용이 높다
# 큰 리스트일수록 extend 메서드를 사용해 추가하는게 일반적으로 나음
x = [4,None,'foo']
x.extend([7,8,(2,3)])
x

In [ ]:
# 정렬 -> sort 함수
a = [7,2,5,1,3]
a.sort()
a

In [ ]:
# sort의 몇가지 옵션 존재
b = ['saw','small','He','foxes','six']
b.sort(key =len)
b

In [ ]:
# 이진 탐색과 정렬된 리스트 유지하기
# bisect.bisect 메서드는 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환
# bisect.insort는 실제로 정렬된 상태를 유지한 채 값을 추가
import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)
bisect.bisect(c,5)
bisect.insort(c,6)
c

In [ ]:
# 슬라이싱 : 리스트와 같은 자료형은 색인 연산자 []안에 start:stop을 지정해서 원하는 크기만큼 잘라낼 수 있다.
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

In [ ]:
# 슬라이스에 다른 순차 자료형을 대입하는 것도 가능
seq[3:4]=[6,3]
seq

In [ ]:
# 음수 색인은 순차자료형의 끝에서부터 위치를 나타낸다
seq[-9:]

In [ ]:
# 두번째 콜론 다음에 간격을 지정할 수 있어 하나 걸러 다음 원소 선택 가능
seq[::2]

In [ ]:
# 간격 값으로 -1을 사용하면 리스트나 튜플을 역순으로 반환
seq[::-1]

### 3.1.3 내장 순차 자료형 함수

In [ ]:
# enumerate : 순차 자료형에서 현재 아이템의 색인을 함께 처리하고자 할 때 사용
some_list = ['foo','bar','baz']
mapping = {}

for i, v in enumerate(some_list):
  mapping[v]=i

mapping # enumerate를 사용해 순차 자료형의 값과 그 위치를 dict에 넘겨 줌

In [ ]:
# sorted : 정렬된 새로운 순차 자료형을 반환
sorted([7,1,2,6,0,3,2])

In [ ]:
# zip : 여러개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']

zipped = zip(seq1,seq2)

list(zipped)

# zip함수는 여러개의 순차자료형을 받을 수 있으며 리스트의 크기는 가장 짧은 크기의 순차자료형으로 결정됨

In [ ]:
# zip과 enumerate 함께하는 연습 문제
for i, (a,b) in enumerate(zip(seq1,seq2)) :
  print('{0}: {1}, {2}'.format(i,a,b))

In [ ]:
# zip을 사용해 짝지어진 순차 자료형 풀어내는 법
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

first_name, last_name = zip(*pitchers)
first_name, last_name

In [ ]:
# reversed 순차 자료형을 역순으로 / reversed는 제너레이터... 먼뜻이야?
list(reversed(range(10)))

### 3.1.4 사전(dict)
- 해시맵 또는 연관 배열이라 함
- 키-값 쌍으로 키와 값은 모두 파이썬 객체

In [ ]:
empty_dict = {}
d1 = {'a':'some_value','b' : [1,2,3,4]}

d1

In [ ]:
d1[7] = 'an integer'
d1

In [ ]:
'b' in d1 # 어떤 키가 있는지만 확인 가능

In [ ]:
# del 예약어나 pop 매서드와 키를 사용해서 사전의 값 삭제 가능
d1[5] = 'some_value'
d1['dummy'] = 'another_value'


del d1[5]
d1

ret = d1.pop('dummy')
ret

d1

In [ ]:
# keys와 values 메서드는 각각 키와 값이 담긴 이터레이터를 반환
list(d1.keys())
list(d1.values())

In [ ]:
# update 메서드를 사용해서 사전 + 사전 가능
d1.update({'b':'foo','c':12})
d1

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

In [ ]:
words = ['apple','bat','bar','atom','book']

In [ ]:
by_letter = {}

for word in words :
  letter = word[0]
  if letter not in by_letter :
    by_letter[letter] = [word]
  else :
    by_letter[letter].append(word)

by_letter

### 3.1.5 집합
- 집합은 유일한 원소만 담는 정렬되지 않은 자료형이다.
- 값은 없고 키만 있음
- set 함수를 이용하거나 중괄호를 이용해서 생성

In [ ]:
set([2,2,2,1,3,3]) , {2,2,2,1,3,3}

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

a.union(b), a|b

In [ ]:
a.intersection(b),  a&b

In [ ]:
c = a.copy()
c|=b
c

### 3.1.6 리스트, 집합, 사전표기법
- 리스트 표기법은 파이썬 언어에서 가장 사랑받는 기능

In [ ]:
strings = ['a','as','bat','car','dove','python']

[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_length = [len(x) for x in strings]
unique_length

In [ ]:
# 리스트에서 문자열의 위치를 담고 있는 사전을 생성해보자

loc_mapping = {val : index for  index, val in enumerate(strings)}
loc_mapping

In [ ]:
# 중첩된 리스트 표기법
all_data = [['John','Emily','Michael','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [ ]:
names_of_interest = []
for names in all_data :
  enough_es = [name for name in names if name.count('e')>=2]
  names_of_interest.extend(enough_es)
names_of_interest

In [ ]:
names_of_interest = [name for names in all_data for name in names if name.count('e') >= 2 ]
names_of_interest

In [ ]:
# 숫자 튜플이 담긴 리스트를 단순 리스트로 변환하자
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

flattend = [x for tup in some_tuples for x in tup]
flattend

In [ ]:
# 위와 같음
flattend = []

for tup in some_tuples:
  for x in tup :
    flattend.append(x)
flattend

# for 문 두개가 쭉 이어져서 위의 포맷으로 써진 다는 것을 알 수 있음

## 3.2 함수
- 코드를 재사용하고 조직화하기 위한 가장 중요한 수단
- def 예약어로 정의하고 return 예약어를 사용해서 값을 반환한다.
- 여러개의 이란인자와 키워드 인자를 받을 수 있다.
- 키워드 인자는 기본값/부수적인 인자를 지정하기 위해 사용
- 키워드 인자는 항상 일반인자 다음에 와야 함

In [ ]:
def my_function(x,y, z=1.5) :
  if z>1:
    return z*(x+y)
  else:
    return z/(x+y)

In [ ]:
my_function(10,20,z=0.7)

### 3.2.1 네임스페이스, 스코프, 지역함수
- 함수는 전역과 지역 두가지 스코프(네임스페이스)에서 변수를 참조함
- 함수 내에서 선언된 변수는 기본적으로 모두 지역 네임스페이스에 속한다.
- 지역 네임스페이스는 함수가 호출될 때 생성되고, 실행이 끝나면 사라진다.

In [ ]:
# 지역 네임스페이스
def func() :
  a = []
  for i in range(5) :
    a.append(i)

# global 예약어 이용
a = None
def bind_a_variable():
  global a
  a = []
bind_a_variable()

### 3.2.2 여러 값 반환하기

In [ ]:
def f() :
  a = 5
  b = 6
  c = 7
  return a,b,c

a,b,c, = f()
a,b,c

In [ ]:
return_value = f()
return_value

### 3.2.3 문자열 리스트 정형화 예시

In [ ]:
states = ['Alabama','Georgia!','Georgia','georgia','FlOrIda','southcarolina##','West virginia?']

In [ ]:
import re

def clean_strings(strings) :
  result = []
  for value in strings:
    value = value.strip()
    value = re.sub('[!#?]','',value)
    value = value.title()
    result.append(value)
  return result

In [ ]:
clean_strings(states)

In [ ]:
# 함수도 리스트에 담아두어 적용

def remove_punctuation(value) : 
  return re.sub('[!#?]','',value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
  result = []
  for value in strings:
    for function in ops : 
      value = function(value)
    result.append(value) # 들여쓰기 조심
  return result

In [ ]:
clean_strings(states, clean_ops)

### 3.2.4 익명 함수
- 익명함수, 람다함수라고 하는 값을 반환하는 단순한 한 문장으로 이루어진 함수
- 실제 함수를 선언하지 않아도 됨

In [ ]:
def short_function(x) :
  return x*2

In [ ]:
a = [1,2,3]
short_function(a)

In [ ]:
equiv_anon = lambda x : x*2
equiv_anon(a)
# 위와 같은 결과 값을 보임

In [ ]:
def apply_to_list(some_list,f) :
  return [f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints, lambda x : x*2)

In [ ]:
strings = ['foo','card','bar','aaaa','abab']

In [ ]:
strings.sort(key = lambda x : len(set(list(x))))
strings

### 3.2.5 커링 : 일부 인자만 취하기

In [ ]:
def add_numbers(x,y) : 
  return x+y

In [ ]:
# 두번째 인자만 커링함
add_five = lambda y : add_numbers(5,y)

In [ ]:
add_five(6)