<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER_7_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%95%EC%A0%9C_%EB%B0%8F_%EC%A4%80%EB%B9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER 7 데이터 정제 및 준비

## 7.1 누락된 데이터 처리하기
- pandas 객체의 모든 기술 통계는 누락된 데이터를 배제하고 처리한다.
- NA는 데이터가 존재하지 않거나, 존재하더라도 데이터를 수집하는 과정에서 검출되지 않았음을 의미
- 결측치 자체를 데이터 수집과정에서의 실수나 결측치로 인한 잠재적인 편향을 찾아내는 수단으로 인식하는 것이 중요!
- None 값도 NA 값으로 취급

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
string_data = pd.Series(['aardvark','artichoke', np.nan, 'avocado'])

In [ ]:
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None

In [ ]:
string_data.isnull()

### 7.1.1 누락된 데이터 골라내기

In [ ]:
from numpy import nan as NA

In [ ]:
data = pd.Series([1,NA,3.5,NA,7])

In [ ]:
data

In [ ]:
data.dropna()

In [ ]:
data[data.notnull()]

In [ ]:
data[data.isnull()]

In [ ]:
data = pd.DataFrame([[1.,6.5,3.],[1., NA, NA],[NA,NA,NA],[NA,6.5,3.]])

In [ ]:
data

In [ ]:
cleaned = data.dropna()

In [ ]:
cleaned

In [ ]:
data[4] = NA

In [ ]:
data

- 컬럼 기준으로 드랍하고 싶을 때

In [ ]:
data.dropna(axis =1, how = 'all')

In [ ]:
df = pd.DataFrame(np.random.randn(7,3))

In [ ]:
df

In [ ]:
df.iloc[:4,1] = NA

In [ ]:
df

In [ ]:
df.iloc[:2,2] = NA

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis = 1)

- 몇개 이상의 값이 들어 있는 로우만 살펴보고 싶다면 thresh 인자에 값 넣기

In [ ]:
df.dropna(thresh = 2) # 이해 잘 안됨..

### 7.1.2 결측치 채우기(fillna)

In [ ]:
df.fillna(0)

-  각 컬럼마다 다른 값으로 채울 수도 있음

In [ ]:
df.fillna({1:0.5,2:0})

- fillna는 새로운 객체를 반환하지만 다음처럼 기존 객체 변경도 가능

In [ ]:
_ = df.fillna(0, inplace = True)
df

In [ ]:
df = pd.DataFrame(np.random.randn(6,3))
df

In [ ]:
df.iloc[2:,1] = NA
df.iloc[4:,2] = NA

In [ ]:
df

In [ ]:
df.fillna(method = 'ffill')

- ffillna의 limit을 정할 수 있음

In [ ]:
df.fillna(method = 'ffill', limit = 2)

In [ ]:
data = pd.Series([1.,NA,3.5,NA,7])
data.fillna(data.mean())

## 7.2 데이터 변형

### 7.2.1 중복 제거하기

In [ ]:
data = pd.DataFrame({'k1':['one','two']*3 + ['two'], 'k2':[1,1,2,3,3,4,4]})
data

In [ ]:
data.duplicated() # 중복인지 아닌지 불리언 시리즈 반환

In [ ]:
data.drop_duplicates() # 중복 제외한 데이터셋만 반환

In [ ]:
 data['v1'] = range(7)
 data

- 중복을 찾아내는 기준 설정 가능

In [ ]:
data.drop_duplicates(['k1']) # k1 열의 중복데이터 모두 제거

In [ ]:
data.drop_duplicates(['k1'], keep = 'last') # 중복된 값 중 마지막으로 발견한 값 반환

### 7.2.2 함수나 매핑을 이용해서 데이터 변형하기

In [ ]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

In [ ]:
lowercased = data['food'].str.lower()

In [ ]:
lowercased

- 데이터 매핑을 통해 컿럼을 옆에 붙임

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)

In [ ]:
data

In [ ]:
 data['food'].map(lambda x : meat_to_animal[x.lower()])

### 7.2.3 값 치환하기

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

In [ ]:
data.replace(-999, np.nan)

- 여러개를 한번에 치환하려면

In [ ]:
data.replace([-999,-1000], np.nan)

- 각자 값마다 지정할 값이 다르다면

In [ ]:
data.replace([-999,-1000],[np.nan,0])

In [ ]:
data.replace({-999 : np.nan, -1000 : 0})

### 7.2.4 축 색인 이름 바꾸기

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

In [ ]:
transform = lambda x : x[:4].upper()

In [ ]:
transform

In [ ]:
data.index.map(transform)

In [ ]:
data.index = data.index.map(transform)

In [ ]:
data

- 새로운 객체를 생성하려면

In [ ]:
data.rename(index = str.title, columns = str.upper)

- rename 매서드는 사전형식으로 축 이름 중 일부만 변경 가능

In [ ]:
data.rename(index={'OHIO' : 'INDIANA'},columns = {'three':'peekaboo'})

- rename의 경우 데이터 프레임을 직접 복사해서 index와 columns 속성을 갱신할 필요 없이 바로 변경 가능

In [ ]:
data # 위의 변경 내용 저장 안되어 있음

In [ ]:
data.rename(index={'OHIO' : 'INDIANA'},columns = {'three':'peekaboo'}, inplace = True)

In [ ]:
data # 위의 내용 바로 적용되어 있음

### 7.2.5 개별화와 양자화

In [ ]:
ages = [20,22,25,27,21,23,37,31,62,45,41,32]

In [ ]:
ages = [20,22,25,27]
bins = [18,25,35,60,100]

In [ ]:
cats = pd.cut(ages,bins)

In [ ]:
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

- 중괄호 쪽의 값은 포함하지 않고 대괄호 쪽의 값은 포함하는 간격을 의미
- labels 옵션을 통해 그룹의 이름 설정 가능

In [ ]:
group_names = ['Youth','YoungAdult','MiddlAged','Senior']

In [ ]:
pd.cut(ages, bins,labels = group_names)

- 그룹의 경곗값을 넘기지 않고 그룹의 개수를 넘겨주면 데이터에서 최솟값과 최댓값을 기준으로 균등한 길이의 그룹을 자동 계산

In [ ]:
data = np.random.rand(20)
pd.cut(data, 4, precision = 2) # precision -> 소숫점 자리리

- 사실 qcut을 더 잘 사용, 적당히 같은 크기의 그룹으로 나누고자함!

In [ ]:
data = np.random.rand(1000)
pd.qcut(data, 4) # precision -> 소숫점 자리리

In [ ]:
print(pd.value_counts(pd.cut(data, 4)), 
pd.value_counts(pd.qcut(data, 4)))

### 7.2.6 특잇값을 찾고 제외하기

In [ ]:
data = pd.DataFrame(np.random.randn(1000,4))
data

In [ ]:
data.describe()

In [ ]:
# 한 컬럼에서 절대값이 3 초과하는 값을 찾아보자!
col = data[2]
col[np.abs(col)>3]

In [ ]:
data[(np.abs(data)>3).any(1)] # any 메서드...중요

In [ ]:
data[np.abs(data)>3] = np.sign(data)*3 # np.sign -> 값의 부호값 반환

In [ ]:
data.iloc[23,1] # 값 바뀐거 확인 가능

### 7.2.7 치환과 임의 샘플링

In [ ]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))
df

In [ ]:
sampler = np.random.permutation(5)

In [ ]:
sampler

In [ ]:
df.take(sampler)

- 단순 랜덤 추출

In [ ]:
df.sample(n=3)

- 랜덤 반복 허용용 추출

In [ ]:
choices = pd.Series([5,7,-1,6,4])

In [ ]:
draws = choices.sample(n=10,replace = True)

In [ ]:
draws

### 7.2.8 표시자/더미변수 계산하기

In [ ]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1' : range(6)})

In [ ]:
df

In [ ]:
pd.get_dummies(df['key'])

- 컬럼에 접두어를 추가해 더미 가능

In [ ]:
dummies = pd.get_dummies(df['key'], prefix = 'key')

In [ ]:
dummies

In [ ]:
df_with_dummy = df[['data1']].join(dummies)

In [ ]:
df_with_dummy

In [ ]:
mnames = ['movie_id','title','genres']
movies = pd.read_table('/content/drive/MyDrive/Python for Data Analysis/datasets/movielens/movies.dat', sep='::', header = None, names = mnames)

In [ ]:
movies

In [ ]:
movies.iloc[0,2].split('|')

In [ ]:
all_genres = []
for x in movies.genres :
  all_genres.extend(x.split('|'))

In [ ]:
all_genres[0:5]

In [ ]:
genres = pd.unique(all_genres)

In [ ]:
genres

In [ ]:
zero_matrix = np.zeros((len(movies),len(genres)))

In [ ]:
dummies = pd.DataFrame(zero_matrix, columns = genres)

In [ ]:
dummies

In [ ]:
gen = movies.genres[0]
gen.split('|')

In [ ]:
dummies.columns.get_indexer(gen.split('|'))

In [ ]:
dummies.columns

In [ ]:
movies.genres

In [ ]:
for i, gen in enumerate(movies.genres) : 
  indices = dummies.columns.get_indexer(gen.split('|'))
  dummies.iloc[i, indices] = 1

In [ ]:
dummies

In [ ]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic

### 7.3 문자열 다루기

### 7.3.1 문자열 객체 메서드

In [ ]:
val = 'a,b,guido'
val.split(',')

In [ ]:
pieces = [x.strip() for x in val.split(',')]
pieces

In [ ]:
first, second, third = pieces

In [ ]:
first+'::'+second+'::'+third

In [ ]:
'::'.join(pieces)

In [ ]:
val

### 7.3.2 정규 표현식
- 텍스트에서 문자열 패턴을 찾는 유연한 방법을 제공
- 패턴 매칭, 치환, 분리 세가지

In [ ]:
import re
text = "foo bar baz qux"
re.split('\s+', text)

- re.compile로 직접 정규 표현식을 컴파일하고 그렇게 얻은 정규 표현식 객체를 재사용하는 것도 가능

In [ ]:
regex = re.compile('\s+')
regex.split(text)

- 정규 표현식에 매칭되는 모든 패턴의 목록을 얻고 싶다면

In [ ]:
regex.findall(text)

In [ ]:
text = """Dave dave@google.com
Steve steve@google.com
Rob rob@google.com
Ryan ryan@yahoo.com
"""

pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

In [ ]:
regex = re.compile(pattern, flags = re.IGNORECASE)

In [ ]:
regex.findall(text)

In [ ]:
m = regex.search(text)

In [ ]:
text[m.start():m.end()]

In [ ]:
# 찾은 패턴을 주어진 문자열로 치환
print(regex.sub('REDACTED', text))

### 7.3.3 pandas의 벡터화된 문자열 함수

In [ ]:
data = {'Dave':'dave@google,com','Steve':'steve@google.com','Rob':'rob@gmail.com','Wes':np.nan}

In [ ]:
data = pd.Series(data)

In [ ]:
data

In [ ]:
data.isnull()

- Series의 str 속성을 이용해 특정 단어를 포함하고 있는지 검사

In [ ]:
data.str.contains('gmail')

In [ ]:
data.str[:5]