<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER_10_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A7%91%EA%B3%84%EC%99%80_%EA%B7%B8%EB%A3%B9%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# CHAPTER 10. 데이터 집계와 그룹 연산
## 10.1 GroupBy 메카닉

In [ ]:
df = pd.DataFrame({'key1':['a','a','b','b','a'], 'key2' : ['one','two','one','two','one'], 'data1' : np.random.randn(5), 'data2':np.random.randn(5)})

In [ ]:
df

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()

In [ ]:
df['data1'].groupby(df['key1']).mean()

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

In [ ]:
means.unstack()

In [ ]:
df['data1']

In [ ]:
states = np.array(['Ohio','California','California', 'Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states,years]).mean()

# 시리즈 길이만 같으면 그냥 묶어서 계산해줌

In [ ]:
df.groupby('key1').mean()
# key2는 숫자형 데이터가 아니라 자동적으로 삭제함

In [ ]:
df.groupby(['key1','key2']).size()
# 그룹의 크기를 답고 있는 시리즈 반환

### 10.1.1 그룹 간 순회하기

In [ ]:
for name, group in df.groupby('key1') :
  print(name)
  print(group)

In [ ]:
for (k1,k2), group in df.groupby(['key1','key2']) :
  print((k1,k2))
  print(group)

In [ ]:
pieces = dict(list(df.groupby('key1')))
pieces

In [ ]:
pieces['b']

### 10.1.2 컬럼이나 컬럼의 일부만 선택하기

In [ ]:
df.groupby('key1')['data1']

In [ ]:
df.groupby('key1')[['data2']].mean()

In [ ]:
df.groupby('key1')['data2'].mean()

In [ ]:
df.groupby('key1').mean()

In [ ]:
s_grouped = df.groupby(['key1','key2'])[['data2']].mean()
s_grouped

### 10.1.3 사전과 Series에서 그룹핑하기기

In [ ]:
people = pd.DataFrame(np.random.randn(5,5), columns = ['a','b','c','d','e'], index = ['Joe','Steve','Wes','Jim','Travis'])
people

In [ ]:
people.iloc[2:3,[1,2]] = np.nan

In [ ]:
mapping = {'a' :'red','b':'red','c':'blue','d':'blue','e':'red','f':'orange'}