<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER5_pandas_%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. pandas 시작하기

In [ ]:
import pandas as pd

## 5.1 pandas 자료구조 소개

### 5.1.1 Series
- 일련의 객체를 담을 수 있는 1차원 배열같은 자료구조
- 왼쪽에 색인, 오른쪽에 색인의 값 보여 줌
- Numpy와 비교하여 단일 값을 선택하거나, 여러 값을 선택할 때 색인으로 라벨을 사용 가능
- 산술 곱셈, 불리언 배열로 값을 필터링, 수학함수를 적용해도 색인-값 연결 유지
- 파이썬의 사전형과 비슷
- 산술연산에서 색인과 라벨로 자동 정렬

In [ ]:
obj = pd.Series([4,7,-5,3])
obj

In [ ]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
obj2 # 인덱스 직접 지정 가능

In [ ]:
obj2['a']

In [ ]:
obj2[['c','a']]

In [ ]:
obj2[obj2>0]

In [ ]:
obj2*2

In [ ]:
import numpy as np
np.exp(obj2)

In [ ]:
sdata = {'Ohio' : 35000,'Texas':71000, 'Oregin' : 16000, 'Utah' : 5000}

In [ ]:
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index = states)
obj4

# states에 없는 애들은 제외됨, 값이 없는 인덱스는 NAN을 값으로 가짐

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj4.name = 'Population'

In [ ]:
obj4.index.name = 'states'

In [ ]:
obj4

### 5.1.2 Dataframe

In [ ]:
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'], 'year' : [2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data,columns = ['year','state','pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'], index = ['one','two','three','four','five','six'])

In [ ]:
frame2

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5

In [ ]:
frame2

In [ ]:
val = pd.Series([-1.2,-1.5,-1.7], index = ['two','four','five'])
frame2['debt'] = val

In [ ]:
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

In [ ]:
frame2