<a href="https://colab.research.google.com/github/yschoi9930/Python-for-Data-Analysis/blob/main/CHAPTER5_pandas_%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. pandas 시작하기

In [ ]:
import pandas as pd

## 5.1 pandas 자료구조 소개

### 5.1.1 Series
- 일련의 객체를 담을 수 있는 1차원 배열같은 자료구조
- 왼쪽에 색인, 오른쪽에 색인의 값 보여 줌
- Numpy와 비교하여 단일 값을 선택하거나, 여러 값을 선택할 때 색인으로 라벨을 사용 가능
- 산술 곱셈, 불리언 배열로 값을 필터링, 수학함수를 적용해도 색인-값 연결 유지
- 파이썬의 사전형과 비슷
- 산술연산에서 색인과 라벨로 자동 정렬

In [ ]:
obj = pd.Series([4,7,-5,3])
obj

In [ ]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
obj2 # 인덱스 직접 지정 가능

In [ ]:
obj2['a']

In [ ]:
obj2[['c','a']]

In [ ]:
obj2[obj2>0]

In [ ]:
obj2*2

In [ ]:
import numpy as np
np.exp(obj2)

In [ ]:
sdata = {'Ohio' : 35000,'Texas':71000, 'Oregin' : 16000, 'Utah' : 5000}

In [ ]:
obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index = states)
obj4

# states에 없는 애들은 제외됨, 값이 없는 인덱스는 NAN을 값으로 가짐

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj4.name = 'Population'

In [ ]:
obj4.index.name = 'states'

In [ ]:
obj4

### 5.1.2 Dataframe

In [ ]:
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'], 'year' : [2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data,columns = ['year','state','pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'], index = ['one','two','three','four','five','six'])

In [ ]:
frame2

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt'] = 16.5

In [ ]:
frame2

In [ ]:
val = pd.Series([-1.2,-1.5,-1.7], index = ['two','four','five'])
frame2['debt'] = val

In [ ]:
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

In [ ]:
frame2

In [ ]:
# 중첩된 사전을 이용해 데이터 생성
pop = {'Nevada' : {2001:2.4,2002:2.9}, 'Ohio' : {2000:1.5,2001:1.7,2002:3.6}}
# {column : {index : values}}

In [ ]:
import pandas as pd
frame3 = pd.DataFrame(pop)

In [ ]:
frame3

In [ ]:
pdata = {'Ohio' : frame3['Ohio'][:-1],'Nevada':frame3['Nevada'][:2]}

In [ ]:
pd.DataFrame(pdata)

In [ ]:
frame3['Ohio'][:-1]

In [ ]:
frame3['Nevada'][:2]

In [ ]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

### *DataFrame 만들기 연습

In [ ]:
pd.DataFrame(pd.Series([1,3,5,1,7], index = ['a','b','c','d','e']), columns = ['number'])

In [ ]:
import numpy as np
pd.DataFrame(np.random.randn(3,5))

In [ ]:
np.random.randn(3,5)

In [ ]:
pd.DataFrame({'Name':{'2001':1}, 'Number': {'2001':2}})

### 5.1.3 색인 객체

In [ ]:
obj = pd.Series(range(3), index = ['a','b','c'])
index = obj.index

In [ ]:
obj

In [ ]:
index

In [ ]:
index[1:] # 색인 객체는 변경 불가

In [ ]:
labels = pd.Index(np.arange(3))
labels

In [ ]:
obj2 = pd.Series([1.5,2.3,15], index = labels)

In [ ]:
obj2.index == labels

## 5.2 핵심 기능

### 5.2.1 재색인 reindex
- 새로운 색인에 맞도록 객체를 새로 생성
- index, columns 둘다 변경 가능
- 재색인은 loc를 이용해서 라벨을 색인하는 것이 더 간결함

In [ ]:
obj = pd.Series([4.5,7.2,-5.3,3.6], index = ['d','s','a','q'])
obj

In [ ]:
obj2 = obj.reindex(['a','b','c','d','e'])
obj2

In [ ]:
obj3 = pd.Series(['blue','purple','yellow'], index = [0,2,4])
obj3

In [ ]:
obj3.reindex(range(6), method = 'ffill')

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)), index = ['a','b','c'], columns = ['2001','2002','2003'])
frame

In [ ]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

### 5.2.2 하나의 로우나 컬럼 삭제하기
- drop 메서드를 사용하면 선택한 값들이 삭제된 새로운 객체를 얻을 수 있음

In [ ]:
obj = pd.Series(np.arange(5.), index = ['a','b','c','d','e'])
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4,4)), index = ['a','b','c','d'], columns = ['2001','2002','2003','2004'])
data

In [ ]:
data.drop(['a','b'])

In [ ]:
data.drop('2001', axis=1)

In [ ]:
data # 원본은 유지

In [ ]:
data.drop('2001', axis=1, inplace = True)
data # 원본도 변경

### 5.2.3 색인하기, 선택하기, 거르기
- Series의 색인은 Numpy 배열의 색인과 유사하게 작동하지만 정수가 아니어도 가능

In [ ]:
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['a','b']]

In [ ]:
obj[[1,3]]

In [ ]:
obj[obj<3]

In [ ]:
obj['b':'d'] # 라벨이름으로 슬라이싱하면 시작점과 끝점을 포함함

In [ ]:
# 슬라이싱에 값 대입 가능
obj['b','c'] = 5
obj

In [ ]:
data

In [ ]:
data['2002']

In [ ]:
data[:2] # 로우 기준 슬라이싱

In [ ]:
data[data['2003']>5]

In [ ]:
data[data<5]

In [ ]:
data[data<5]=0
data

### * loc와 iloc로 선택하기
- 축 이름을 선택할 때는 loc, 정수 색인(숫자)으로 선택할 땐 iloc
- 한 입력값만 넣으면 row 값으로 적용됨 
- column 값을 적용하고 싶으면 data.loc[:, column name] / data.iloc[:,column index]하면됨
- 단일 라벨이나 라벨 리스트도 지원함

In [ ]:
data.loc['2002'] # column데이터는 추출 안됨

In [ ]:
data.loc['a'] # a행 데이터 추출

In [ ]:
data.loc['a','2002'] # 축 이름 직접 입력, row,column 순으로 입력필요

In [ ]:
data.iloc[0,0] # index로 출력

In [ ]:
data.iloc[2] # 2 index를 가지는 c row 데이터 출력

In [ ]:
data.loc[:'b',['2002','2003']]

In [ ]:
data.iloc[:,:2][data.2]

In [ ]:
data.loc['b']

### 5.2.4 정수 색인

In [ ]:
ser = pd.Series(np.arange(3.))
ser[-1]
# 실행이 안됨, 색인이 아니라 index값으로 적용되기 때문

In [ ]:
ser2 = pd.Series(np.arange(3.), index =['a','b','c'])
ser2[-1] # index로 적용되어 잘 찾은 것을 알 수 있음

In [ ]:
ser3 = pd.Series(np.arange(3.), index =[2,3,4])

### * 슬라이싱 관련 중요 예제

In [ ]:
print(
ser3, '\n\n',
'* ser3[2] -> row명으로 검색함', '\n',
ser3[2], '\n\n',
'ser3.loc[:2] -> row명으로 슬라이싱', '\n',
ser3.loc[:2], '\n\n',
'* ser3[:2] -> index로 슬라이싱', '\n',
ser3[:2], '\n\n',
'* ser3.iloc[:2] -> index로 슬라이싱', '\n',
ser3.iloc[:2]
) # 정수색인으로 되어 있는 경우 셋의 차이점을 잘 이해하자

### 5.2.5 산술 연산과 데이터 정렬

In [ ]:
s1 = pd.Series([7.3,-2.5,3.4,1.5], index = ['a','c','d','e'])
s2 = pd.Series([-2.1,3.6,4,3,1], index = ['a','c','e','f','g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1+s2 # 안겹치는 색인의 데이터는 NAN 값 됨

In [ ]:
# NAN 대신 특수한 값 지정하고 싶을 때
df1 = pd.DataFrame(np.arange(12).reshape((3,4)), columns = list('abcd'))

df2 = pd.DataFrame(np.arange(20).reshape((4,5)), columns = list('abcde'))

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2 # 공통되지 않은 곳엔 Nan값으로 출력

In [ ]:
df1.add(df2, fill_value = 0) # df1에 없는 데이터 란에 0를 넣은 후 다시 산술 계산 -> df2 + 0 으로 나옴

In [ ]:
df1.reindex(columns=df2.columns, fill_value = 0)

In [ ]:
# 데이터 프레임과 시리즈 간의 연산

In [ ]:
arr = np.arange(12).reshape((3,4))
arr

In [ ]:
arr - arr[0] # 브로드캐스팅

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)), columns = list('bde'), index = ['Utah','Ohio','Texas','Oregon'])
Series = frame.iloc[0]

In [ ]:
frame

In [ ]:
Series

In [ ]:
frame - Series # Series 색인을 Dataframe 컬럼에 맞추고 아래 로우로 전파함

In [ ]:
series2 = pd.Series(range(3), index = ['b','e','f'])
series2

In [ ]:
frame + series2 # 기존에 없었던 시리즈 색인은 추가되고, frame에만 있는 색인은 Nan 처리됨

In [ ]:
s3 = frame['d']
s3

In [ ]:
frame

In [ ]:
frame.sub(s3, axis = 'index') # 로우를 따라 연산

### 5.2.6 함수 적용과 매핑
- pandas 객체에도 Numpy 유니버셜 함수를 적용할 수 있음

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3), columns = list('bde'), index = ['Utah','Ohio','Texas','Oregon'])
frame

In [ ]:
np.abs(frame) # 절대값화

In [ ]:
# 1차원 배열에 함수 적용
f = lambda x : x.max() - x.min()

In [ ]:
frame.apply(f) # b 컬럼 내에서 최대값 - 최솟값 차이 계산, 시리즈로 반환

In [ ]:
frame.apply(f, axis = 1) # 로우에 대해서 수행

### 5.2.7 정렬과 순위
- 로우나 컬럼의 색인을 알파벳 순으로 정렬하려면 sort_index 사용
- DataFrame은 로우나 컬럼 중 하나의 축을 기준으로 정렬 가능
- Series 객체를 값에 따라 정렬하고 싶다면 sort_values 메서드 사용

In [ ]:
import pandas as pd
import numpy as np
obj = pd.Series(range(4), index = list('dabc'))

In [ ]:
obj

In [ ]:
obj.sort_index()

In [ ]:
fr = pd.DataFrame(np.arange(8).reshape((2,4)), index = ['three','one'], columns = list('dabc'))

In [ ]:
fr.sort_index()

In [ ]:
fr.sort_index(axis=1)

In [ ]:
fr.sort_index(axis=1, ascending=False)

In [ ]:
obj = pd.Series([4,7,-3,2])
obj.sort_values()

In [ ]:
fr.sort_values(by='b', ascending = False) # ㅇ값을 정렬할 때 정렬기준으로 원하는 컬럼 이름 전송, ascending 그대로 적용 가능
# 여러개 컬럼도 전달 가능

In [ ]:
obj = pd.Series([7,-5,7,4,2,0,4])
obj.rank() # 동점인 항목은 평균순위 보여줌

In [ ]:
obj.rank(method = 'first') # 평균 순위가 아닌 그냥 먼저 출현한 순서대로 순위 매겨줌

In [ ]:
# 그 외 동률 처리 메서드 여러개 있음...

In [ ]:
# 로우와 컬럼의 순위를 정하는 방법
frame = pd.DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})
frame

In [ ]:
frame.rank(axis=0)

### 5.2.8 중복 색인
- pandas는 인덱스가 유일하지 않아도 되어서 중복 색인 존재
- 중복 색인이 있을 때는 색인 검색 시 시리즈/프레임 반환, 유일 색인일 때는 스칼라값 반환

In [ ]:
obj = pd.Series(range(5), index = list('aabbc'))
obj

In [ ]:
obj.index.is_unique
# 중복색인이라는 뜻

In [ ]:
obj['c']

## 5.3 기술 통계 계산과 요약
- 드디어...기술 통계 챕터 5 너무 길다
- pandas 메서드는 처음부터 누락된 데이터는 제외하도록 설계되어 있음

In [ ]:
df = pd.DataFrame([[1.4, np.nan],[7.1,-4.5],[np.nan, np.nan],[0.75,-1.3]], index = list('abcd'), columns=['one','two'])
df

In [ ]:
df.sum() # 각 컬럼의 합을 담은 Series 반환, nan 값은 무시하고 계산

In [ ]:
df.sum(axis = 1) # 각 로우의 합 반환

In [ ]:
df.mean()

In [ ]:
df.mean(skipna=False) # NAN 포함해서 계산도 가능

In [ ]:
df.idxmin(), df.idxmax() # 최솟값/최댓값 갖고 있는 색인값 반환

In [ ]:
df.cumsum() # 누적합계

In [ ]:
df.describe()

In [ ]:
# 수치데이터가 아니면 다르게 반환
obj = pd.Series(['a','a','b','c']*4)
obj.describe()

In [ ]:
df.argmax()

### 5.3.1 상관관계와 공분산 * 주식데이터 예제

In [ ]:
pip install pandas-datareader

In [ ]:
pip install --upgrade pandas-datareader

In [ ]:
pip install yfinance

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yfin

In [ ]:
yfin.pdr_override()

In [ ]:
all_data = {ticker:pdr.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
all_data

In [ ]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker, data in all_data.items()})
price
# ticker와 각 ticker의 ADdj Close 컬럼을 갖고와 붙이기

In [ ]:
volume = pd.DataFrame({ticker:data['Volume'] for ticker, data in all_data.items()})
volume

In [ ]:
# 각 주식의 퍼센트 변화율
returns  = price.pct_change()
returns.tail()

In [ ]:
# 파이썬의 corr 메서드는 NA가 아니며 정렬된 색인에서 연속하는 두 시리즈에 대해 상관관계를 계산
# cov 는 공분산 계산
returns['MSFT'].corr(returns['IBM']), returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.corr() # 데이터 프레임 메서드

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)
# 컬럼이름이 딱 맞아떨어지는 애들끼리 상관관계 계산
# 시가 총액과 퍼센트 변화율에 대한 상관관계 확인

### 5.3.2 유일값, 값 세기, 멤버십

In [ ]:
obj = pd.Series(list('cadaabbcc'))

In [ ]:
uniques = obj.unique()

In [ ]:
uniques.sort()

In [ ]:
obj.value_counts() 
# 도수를 계산하여 반환
# 내림차순으로 정렬

In [ ]:
pd.value_counts(obj.values)

In [ ]:
# isin 매서드는 어떤 값이 시리즈 내에 존재하는지 불리언 벡터 반환
obj

In [ ]:
mask = obj.isin(['b','c'])
mask

In [ ]:
obj[mask]